html body{
   margin: 0px;
   min-height: 100%;
   width: 100%;
   font-family: Impact, sans-serif;
}


.jumboTitle {
	border: 10px solid black;
    padding: 10%;
    margin-bottom: 10%;
	font-size: 70px;
  	color: black;
  	text-align: center;
}

.blueBox {
	height: 100vh;
  	background-color: #9ce5e8;

}

.text{
	margin-left: 25%;
}

.courseList{
	margin-top: 10%;

}

#searchCourseText{
	text-align: right;
}

.glyphiconRowBottom{
    position: absolute;
    bottom: 0;
    right: 0;
}

#chatBox{
	position: absolute;
    bottom: 50px;
	margin-right:10px;
	margin-left:10px;
	margin-top:10px;

}

#chatButton{
	border: none;
	height:100%;
}

.chatHeader{
	background-color: #D3D3D3;
	height: 40px;
	text-align: center;
	font-size: 25px;
	font-style: bold;
	text-shadow: 3px 3px 9px rgba(161, 179, 165, 1);
	border-bottom: 2px solid black;
}

.messageBox{
	background-color: white;
	border-radius: 5px;
	border: 1px solid grey;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;

}

.nameBox{
	font-style: bold;
	font-size: small;
	text-align: left;

}

.timeStamp{
	text-align: right;
	font-style: italic; 
	font-size: small;

}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #D3D3D3; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/*The header for the navigation menu */
.sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s
    text-shadow: 3px 3px 9px rgba(161, 179, 165, 1);
}


/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #002699;
    display: block;
    transition: 0.3s
}



/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: black;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
