<div class="blueBox">

	<div class="chatHeader">
		<div class="col-xs-2">
			<!-- Use any element to open the sidenav, for now a button, but could maybe be done by dragging -->
			<button class="btn btn-default" ng-click="openNav()">
				<span class="glyphicon glyphicon-th-list"></span>
			</button>
		</div>
		<div class="col-xs-8">
			<p>{{courseID}}</p>	<!-- put in the current coursecode -->
		</div>
	</div>

		<div class="col-xs-10" id="currentChannel">
			Chat room #{{room}}. {{status}} <!-- put in the current channel -->
		</div>
		<div id="messageSpace">
		</div>




<!-- The chatbox where you can write a message. Is aligned to bottom of screen -->
	<div>
		<div class="input-group" id="chatBox">
			<textarea class="form-control" id="comment" placeholder="Message"></textarea>
			<span class="input-group-addon btn btn-default" ng-click="sendMessage()" id="sendButton">
				<span class="glyphicon glyphicon-send"></span>
			</span>
	   	</div>
	</div>


	<ng-include src="'partials/menuView.html'" ng-controller="menuCtrl"></ng-include>

</div>

<div id="mySidenav" class="sidenav"> <!-- The side menu for the different chats in this course. -->

	<p> All channels </p>
  	<a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
  	<ul class="nav nav-pills nav-stacked">
	  	<li ng-repeat="channel in allRooms" ng-class="{'active': channel==room}">
	  		<div class="row">
	  			<div class="col-xs-10">
	  				<a ng-href="{{url}}chatRoom/{{courseID}}-{{channel}}">{{channel}}</a>
	  			</div>
	  			<div class="col-xs-2">
		  			<button id="removechannelbutton" ng-hide="channel=='General'||channel==room" class="btn btn-default btn-sm" ng-click="removeChannel(channel)">
		  				<span class="glyphicon glyphicon-remove-sign"></span>
		  			</button>
	  			</div>
	  		</div>
	  	</li>
	  	<li>
	  		<button id="newchannelbutton" class="btn btn-default btn-sm btn-block" ng-click="newChannel()">
	  			Create new channel
	  		</button>
	  	</li>
  	</ul>
</div>
