<div class="blueBox">

	<div class="glyphiconRowBottom">
		<div class="d-flex align-items-end flex-column">
			<div class="input-group" id="chatBox">
				<textarea class="form-control" id="comment" placeholder="Message"></textarea>
				<span class="input-group-btn" id="chatButton">
	        		<button class="btn btn-default btn-lg" type="button"> <!-- Kan vi få dem att mer sitta ihop, knappen och skrivrutan? -->
	        			<span class="glyphicon glyphicon-send"></span>
	        		</button>
	   			</span>
	   		</div>
		</div>


		<div> <!-- MENU -->
			<div>
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<div class="btn-group" role="group">
					  	<button type="button" class="btn btn-default">
			    			<span class="glyphicon glyphicon-chevron-left"></span> <!-- Back to start -->
			    			Start page
			   			</button>
			 		</div>
			  		<div class="btn-group" role="group">
			    		<button type="button" class="btn btn-default">
			    			<span class="glyphicon glyphicon-cloud"></span>  <!-- See all members -->
			    			Members
			    		</button>
			  		</div>
				</div>
			</div>
		</div>
	</div>
</div>