<div class="blueBox">
  <div id="titleProfileView">
    <center>
      <div class="row">
        <div class="col-xs-2">
          <span class="glyphicon glyphicon-heart"></span>
        </div>
        <div class="col-xs-8">
          <p>My Favorites</p>
        </div>
        <div class="col-xs-2">
          <span class="glyphicon glyphicon-heart"></span>
        </div>
      </div>
    </center>
  </div>

<div>
  <table class="table table-hover" ng-show="favExcists">
    <thead>
      <tr>
        <th>Name</th>
        <th>Remove from favorites</th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="fav in favorites" style="background-color:{{fav.color}}" ng-click="goToFav(fav)">
              <td>{{fav.courseName}}</td>
              <td>
                <button class="btn btn-default" ng-click="remove(fav)" style="background-color:{{fav.color}} !important;border:none"> <!--To press to unfavorize the course -->
                <span class="glyphicon glyphicon-heart"></span>
                </button>
              </td>
        </tr>
    </tbody>
  </table>

  <div ng-show="!favExcists">
      You have no favorites yet
      <span class="glyphicon glyphicon-heart-empty"></span>
  </div>
</div>

	<ng-include src="'partials/mainMenuView.html'"></ng-include>
</div>
