<center>
  <h1>My Favorites</h1>
  <div class="btn-group-vertical" role="group" aria-label="..."> <!--A list of the most recent searched courses, should be flexible! -->
    <div class="btn-group btn-group-lg" role="group">
      <div ng-repeat="fav in favorites">
        <a type="button" class="btn btn-default btn-lg" href="{{url}}chatRoom/{{fav}}-General">
          {{fav}}
        </a>
      </div>
    </div>
  </div>
<center>

<ng-include src="'partials/menuView.html'" ng-controller="menuCtrl"></ng-include>
