<div class="blueBox">
  <div id="titleProfileView">
    <center>
      <div class="row">
        <div class="col-xs-2">
          <span class="glyphicon glyphicon-heart"></span>
        </div>
        <div class="col-xs-8">
          <p>My Favorites</p>
        </div>
        <div class="col-xs-2">
          <span class="glyphicon glyphicon-heart"></span>
        </div>
      </div>
    </center>
  </div>



    <div class="btn-group-vertical" id="favorites" role="group" aria-label="..."> <!--A list of the most recent searched courses, should be flexible! -->
      <div class="btn-group btn-group-lg" role="group">
        <div ng-repeat="fav in favorites">
          <div class="row">
          <div class="col-xs-4"></div>
          <div class="col-xs-4">
            <a type="button" class="btn btn-default btn-lg" href="{{url}}chatRoom/{{fav}}-General">
              {{fav}}
            </a>
          </div>
          <div class="col-xs-4">
            <button class="btn btn-default btn-lg" ng-click="remove(fav)"> <!--To press to unfavorize the course -->
              <span class="glyphicon glyphicon-heart"></span>
            </button>
          </div>
          <div class="col-xs-4"></div>
        </div>
        </div>
      </div>
    </div>



	<ng-include src="'partials/mainMenuView.html'"></ng-include>
</div>
