
<div class="blueBox" id="center">
    <!--Header-->
  <header>
    <img src="logo.png" class="logo" >
  </header>
  <div>
      <!--Form for login-->
    <form>
        <p class="text">
        	<label class="uname" > Your username </label>
            <input id="username" name="username" ng-model="username" required="required" type="text" placeholder="myusername"/>
        </p>
        <p class="text">
        	<label class="youpasswd"> Your password </label>
        	<input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" />
        </p>
        <div class="text">
        	<button class="btn btn-default" ng-click="signIn()" id="signIn">Sign in </button>
          <br>
          <button class="btn btn-default" ng-click="newAccount()" id="newAccount">Create an account</button>
        </div>

          <!--Shows on loading-->
        <div class="spinner" ng-show="loading" id="center">

            <div class="bounce1"></div>
             <div class="bounce2"></div>
             <div class="bounce3"></div>
        </div>
    </form>
  </div>
</div>
