
<div class="blueBox">
    <header>
        <p class="jumboTitle">Loqui</p>
    </header>

            <div>
                <form>
                    <p class="text">
                    	<label class="uname" > Your username </label>
                        <input id="username" name="username" ng-model="username" required="required" type="text" placeholder="myusername"/>
                    </p>
                    <p class="text">
                    	<label class="youpasswd"> Your password </label>
                    	<input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" />
                    </p>
                    <p class="text">
						<input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" />
						<label for="loginkeeping">Keep me logged in</label>
					</p>
                    <div class="text">
                    	<p class="btn btn-default" ng-click="signIn()" id="signIn">Sign in </p>
						<p class="btn btn-default" ng-click="newAccount()" id="newAccount">Create an account</p>
					</div>
                </form>
            </div>


</div>
