
<div> <!-- MENU -->
  <div class="glyphiconRowBottom">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
          <a type="button" class="btn btn-default" href="{{url}}search">
            <span class="glyphicon glyphicon-chevron-left"></span> <!-- Back to start -->
            Start page
          </a>
        </div>
        <!--<div class="btn-group" role="group">
          <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-cloud"></span>  --><!-- See all members -->
            <!--Members
          </button>
        </div>-->
        <div class="btn-group" role="group">
          <a type="button" class="btn btn-default" href="{{url}}favorites">
            <span class="glyphicon glyphicon-heart"></span>  <!-- Go to favorites -->
            My Favorites
          </a>
        </div>
    </div>
  </div>
</div>
