<div class="blueBox">
  <div class="chatHeader">
    <div class="col-xs-4">
      <button type="button" class="btn btn-default" ng-click="goBack()">
          <span class="glyphicon glyphicon-chevron-left"></span>
          Go back
      </button>
    </div>
    <div class="col-xs-8">
      Private messages
    </div>
  </div>

<div class="col-xs-8 center input-group">
  <input type="text" class="form-control" ng-model="query" placeholder="Search friend"/> <!-- search for a course -->
  <span class="input-group-btn">
    <button type="submit" class="btn btn-primary" ng-click="searchFriend(query)">  <!-- button to search for a course -->
      <span class="glyphicon glyphicon-search"></span>
  </button>
</span>
</div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="person in persons" ng-click="goChat(person.username)" style="background-color: {{person.color}}">
              <td>{{person.name}}</td>
              <td>{{person.username}}</td>
              <td></td>
        </tr>
    </tbody>
  </table>

	<ng-include src="'partials/mainMenuView.html'"></ng-include>

</div>
