<div class="blueBox">
  <!--Header-->
  <div class="chatHeader">
    <div class="col-xs-4">
      <button type="button" class="btn btn-default" ng-click="goBack()" style="background-color:#D3D3D3; border:0px">
          <span class="glyphicon glyphicon-chevron-left"></span>
          Go back
      </button>
    </div>
    <div class="col-xs-8">
      private messages
    </div>
  </div>

  <!--Search for users-->
  <div class="col-xs-8 center input-group">
    <input type="text" class="form-control" ng-model="query" placeholder="Search friend"/>
    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary" id="findpep" ng-click="searchFriend(query)">
        <span class="glyphicon glyphicon-search"></span>
    </button>
  </span>
  </div>

  <!--on loading-->
<div class="spinner" ng-show="loading">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>

  <!-- Creates table with private conversation people-->
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Username</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="person in people" ng-click="goChat(person.username)" style="background-color: {{person.color}}">
              <td>{{person.name}}</td>
              <td>{{person.username}}</td>
              <td></td>
        </tr>
    </tbody>
  </table>

	<ng-include src="'partials/mainMenuView.html'"></ng-include>

</div>
