<div class="blueBox">
	<div class="row" id="titleProfileView"> <!--The header -->
		<div class="col-xs-2">
		<button type="button" class="btn btn-default" ng-click="goBack()">
	  		<span class="glyphicon glyphicon-chevron-left"></span>
	  		Go back
		</button>
		</div>
		<div class="col-xs-8">
			<p id="titleProfileView"><center>{{init}}</center></p>
		</div>
		<div class="col-xs-2"></div>
	</div>

	<!--Depending on if it is your own profile or not, you will see different things here. -->
	
	<!--Your own profile - all of the input/textareas should have a value that is the last written text. At start this is empty or 0 for the age. You are supposed to be able to continue writing in your text without it disappering.  --> 
	<div ng-show="thisIsMe" id="meBox">
		<ul class="list-group">
		  	<li class="list-group-item">Username: {{nick}}</li> <!--You can't change your username -->

		  	<li class="list-group-item">
		  		<div class="row">
			  		<div class="col-xs-2">Age: </div>
			  		<div class="col-xs-4">
			  			<input class="form-control" type="number" min="0" max="120" placeholder="0"/>
			  		</div>
			  		<div class="col-xs-6"></div>
		  		</div>
		  	</li> 

		  	<li class="list-group-item">
		  		<div class="row">
				  	<div class="col-xs-4">Studying:</div>
				  	<div class="col-xs-8"> 
				  		<input class="form-control" type="text"/>
				  	</div>
				</div>
		  	</li>

		  	<li class="list-group-item">
		  		Describe yourself:
		  		<textarea class="form-control" rows="5" id="comment"/>
		  	</li>

		  	<li class="list-group-item">
		  		<button type="button" class="btn btn-default">
		  			<span class="glyphicon glyphicon-save"></span>
		  			Save changes
		  		</button>
		  	</li>
		</ul>
	</div>	
	

	<!--Someone elses profile -->
	<div ng-show="!thisIsMe">
	  <button type="button" class="btn btn-default" ng-click="removeFavorite()">
	    <span class="glyphicon glyphicon-heart-envelope"></span>
	    Send a Private Message
	  </button>
	</div>


	<ng-include src="'partials/menuView.html'" ng-controller="menuCtrl"></ng-include>

</div>
