<div class="blueBox">
	<div class="row" id="titleProfileView"> <!--The header -->
		<div class="col-xs-4">
		<button type="button" class="btn btn-default" ng-click="goBack()">
	  		<span class="glyphicon glyphicon-chevron-left"></span>
	  		Go back
		</button>
		</div>
		<div class="col-xs-8">
			<p id="titleProfileView">{{init}}</p>
		</div>
		
	</div>

	<!--Depending on if it is your own profile or not, you will see different things here. -->

	<!--Your own profile - all of the input/textareas should have a value that is the last written text. At start this is empty or 0 for the age. You are supposed to be able to continue writing in your text without it disappering.  -->
	<div ng-show="thisIsMe" id="meBox">
		<ul class="list-group">
		  	<li class="list-group-item">Username: {{userName}}</li> <!--You can't change your username -->

		  	<li class="list-group-item">
		  		<div class="row">
			  		<div class="col-xs-2">Age: </div>
			  		<div class="col-xs-4">
							<input class="form-control" min="0" type="number" id="age" max="120" value="{{age}}"/>
			  		</div>
			  		<div class="col-xs-6"></div>
		  		</div>
		  	</li>

		  	<li class="list-group-item">
		  		<div class="row">
				  	<div class="col-xs-4">Studying:</div>
				  	<div class="col-xs-8">
				  		<input class="form-control" type="text" id="studying" value="{{studying}}"/>
				  	</div>
				</div>
		  	</li>

		  	<li class="list-group-item">
		  		Describe yourself:
		  		<textarea class="form-control" rows="5" id="comment">{{description}}</textarea>
		  	</li>

		  	<li class="list-group-item">
		  		<button type="button" class="btn btn-default" ng-click="saveChanges()">
		  			<span class="glyphicon glyphicon-save"></span>
		  			Save changes
		  		</button>
		  	</li>
		</ul>
	</div>


	<!--Someone elses profile -->
	<div ng-show="!thisIsMe">

		<div id="meBox">
			<ul class="list-group">
				<li class="list-group-item">
					Age: {{age}}
				</li>
				<li class="list-group-item">
					Studying: {{studying}}
				</li>
				<li class="list-group-item">
					{{description}}
				</li>
				<li class="list-group-item">
					<button type="button" class="btn btn-default" href="{{url}}privateMessages/{{userName}}">
				    	<span class="glyphicon glyphicon-envelope"></span>
				    	Send a Private Message (not linked yet)
				  	</button>
				</li>
			</ul>
		</div>
	</div>


	<ng-include src="'partials/menuView.html'" ng-controller="menuCtrl"></ng-include>

</div>
