<div class="blueBox">

	<div class="glyphiconRow">
		<div class="btn-group btn-group-justified" role="group" aria-label="...">
			<div class="btn-group" role="group">
    			<a type="button" class="btn btn-default" href="{{url}}profile/{{userName}}">
    				<span class="glyphicon glyphicon-user"></span> <!-- profile -->
    			</a>
  			</div>
  			<div class="btn-group" role="group">
    			<a type="button" class="btn btn-default" href="{{url}}lunch">
    				<span class="glyphicon glyphicon-cutlery"></span>  <!-- find lunch partner -->
    			</a>
  			</div>
  			<div class="btn-group" role="group">
    			<a type="button" class="btn btn-default" href="{{url}}privateMessages">
    				<span class="glyphicon glyphicon-envelope"></span>  <!-- send private message -->
    			</a>
  			</div>
		</div>
	</div>

<center>
	<div class="row courseList">
		<h5>Search Course</h5>

		<div class="row">
		<div class="col-xs-2">
		</div>
		<div class="col-xs-8">
			<div class="input-group">
				<input type="text" class="form-control" ng-model="query" placeholder="Write Course Code"/> <!-- search for a course -->
				<span class="input-group-btn">
					<button type="submit" class="btn btn-primary" ng-click="search(query, type)">  <!-- button to search for a course -->
						<span class="glyphicon glyphicon-search"></span>
					</button>
	    	</span>
	    	</div>
		</div>
		<div class="col-xs-2">
			</div>
		</div>
	</div>
	<center>
	<hr>
	{{status}}

		<div class="card-columns" ng-show="hasSearch">
			<div ng-repeat="course in courses" class="card" data-toggle="popover" data-title="{{course.name}}" data-content="">
					<span class="glyphicon glyphicon-education"></span>
					<div class="card-block">
						<h6 class="card-title">{{course.name}}</h6>
					</div>
					<div class="text-center">
						<div class="row">
							<div class="col-6">
							<div ng-show="!isFavoriteCourse">
						    	<button type="button" class="btn btn-sm btn-primary" ng-click="addFavorite()">
						      		<span class="glyphicon glyphicon-heart"></span>
						      		Add to favorites
						    	</button>
						  	</div>

						  	<div ng-show="isFavoriteCourse">
						    	<button type="button" class="btn btn-sm btn-primary" ng-click="removeFavorite()">
						      		<span class="glyphicon glyphicon-heart-empty"></span>
						      		Remove from Favorites
						    	</button>
						  	</div>
								</div>
								<div class="col-6">
							<button type="button" href="{{url}}chatRoom/{{course.code}}-General" class="btn btn-sm btn-primary">Chat Room</button>
							</div>
						</div>
				</div>
			</div>
		</div>

		<div ng-show="!hasSearch">
			<br><br><br><br><br><br><br>
		</div>



<!--
		<center>
			<h1>Your recent courses</h1>
			<div class="btn-group-vertical" role="group" aria-label="...">
				<div class="btn-group btn-group-lg" role="group">
					<div ng-repeat="course in recentCourses">
						<a type="button" class="btn btn-default btn-lg" href="{{url}}chatRoom/{{course}}-General">
	    				{{course}}
	    			</a>
					</div>
				</div>
				 <div class="spinner" ng-show="loading">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
			</div>
		<center>-->
		<center>
		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th class="text-center">Your recent courses</th>
		    </tr>
		  </thead>
		  <tbody>
		      <tr ng-repeat="course in recentCourses" ng-click="goToCourse(course)">
		            <td class="text-center">{{course}}</td>
		      </tr>
		  </tbody>
		</table>
		<center>


	<ng-include src="'partials/mainMenuView.html'"></ng-include>



</div>
