<div class="blueBox">

	<div class="glyphiconRow">
		<div class="btn-group btn-group-justified" role="group" aria-label="...">
			<div class="btn-group" role="group">
    			<a type="button" class="btn btn-default" href="{{url}}profile">
    				<span class="glyphicon glyphicon-user"></span> <!-- profile -->
    			</a>
  			</div>
  			<div class="btn-group" role="group">
    			<a type="button" class="btn btn-default" href="{{url}}lunch">
    				<span class="glyphicon glyphicon-cutlery"></span>  <!-- find lunch partner -->
    			</a>
  			</div>
  			<div class="btn-group" role="group">
    			<a type="button" class="btn btn-default" href="{{url}}privateMessages">
    				<span class="glyphicon glyphicon-envelope"></span>  <!-- send private message -->
    			</a>
  			</div>
		</div>
	</div>

	<div class="row courseList">

		<div class="col-xs-8">
			<div class="dropdown-menu">
				<select ng-model="type" name="dishType" ng-change="search(query, type)">
					<div ng-repeat="school in schools">
						<option value="{{school.name}}">{{school.code}}</option>
					</div>
				</select>
			</div>
			<label class="col-xs-4 col-form-label" id="searchCourseText">Search Course</label>

					<div class="input-group">
						<input type="text" class="form-control" ng-model="query" placeholder="Write Code"/> <!-- search for a course -->
						<span class="input-group-btn">
							<button type="submit" class="btn btn-primary" ng-click="search(query, type)">  <!-- button to search for a course -->
								<span class="glyphicon glyphicon-search"></span>
							</button>
	    			</span>
					</div>
			</div>
	</div>
	<hr>
	<center>
		<div class="card-columns">
			<div ng-repeat="course in courses" class="card" data-toggle="popover" data-title="{{course.name}}" data-content="">
					<a href="{{url}}course/{{course.code}}">
							<img img class="card-img-top img-fluid" ng-src="img/student_hat.png"/></a>
					<div class="card-block">
						<h6 class="card-title">{{course.name}}</h6>
					</div>
			</div>
		</div>
	<center>


		<center>
			<h1>Your recent courses</h1>
			<div class="btn-group-vertical" role="group" aria-label="..."> <!--A list of the most recent searched courses, should be flexible! -->
				<div class="btn-group btn-group-lg" role="group">
					<div ng-repeat="course in recentCourses">
						<a type="button" class="btn btn-default btn-lg" href="{{url}}chatRoom/{{course}}">
	    				{{course}}
	    			</a>
					</div>
				</div>
			</div>
		<center>

	<ng-include src="'partials/menuView.html'" ng-controller="menuCtrl"></ng-include>



</div>
