<div class="blueBox">

	<div class="glyphiconRow">
		<div class="btn-group btn-group-justified" role="group" aria-label="...">
			<div class="btn-group" role="group">
    			<button type="button" class="btn btn-default">
    				<span class="glyphicon glyphicon-user"></span> <!-- profile -->
    			</button>
  			</div>
  			<div class="btn-group" role="group">
    			<button type="button" class="btn btn-default">
    				<span class="glyphicon glyphicon-cutlery"></span>  <!-- find lunch partner -->
    			</button>
  			</div>
  			<div class="btn-group" role="group">
    			<button type="button" class="btn btn-default">
    				<span class="glyphicon glyphicon-envelope"></span>  <!-- send private message -->
    			</button>
  			</div> 
		</div>
	</div>

	<div class="courseList">

		<div class="form-group row">
 			<label class="col-xs-4 col-form-label" id="searchCourseText">Search course</label>
  			<div class="col-xs-8">
  				<div class="col-xs-8">
    				<input class="form-control" type="search" id="search-input">  <!-- search for a course -->
    			</div>
    			<div class="col-xs-4">
    				<button type="submit" class="btn btn-primary">  <!-- button to search for a course -->
    					<span class="glyphicon glyphicon-search"></span>
    				</button>
    			</div>
  			</div>
		</div>

		<center>
			<h1>Your recent courses</h1>
			<div class="btn-group-vertical" role="group" aria-label="..."> <!--A list of the most recent searched courses, should be flexible! -->
				<div class="btn-group btn-group-lg" role="group">
	    			<button type="button" class="btn btn-default btn-lg">
	    				DD1325
	    			</button>
	    		</div>
	    		<div class="btn-group btn-group-lg" role="group">
	    			<button type="button" class="btn btn-default btn-lg">
	    				MD1454
	    			</button>
	    		</div>
	    		<div class="btn-group btn-group-lg" role="group">
	    			<button type="button" class="btn btn-default btn-lg">
	    				DD4455
	    			</button>
	  			</div>
			</div>
		<center>

	</div>
</div>
